<% provide(:title,"Request Queue")%>
<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table style="width: 100%">
  <thead>
    <tr>
      <th>CLID</th>
      <th>Gender</th>
      <th>Current Building</th>
      <th>Current Room</th>
      <th>Requested Building</th>
      <th>Requested Room</th>
      <th colspan="20"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
		<% if request.activated? %>
			<tr>
	        <td><%= request.clid %></td>
	        <td><%= request.gender %></td>
	        <td></td>
	        <td></td>
	        <td><%= request.building %></td>
	        <td><%= request.room %></td>
	        <td><%= button_to 'Accept', requestaccept_path(request), method: :delete, data: {confirm: "Accept this request?"}%></td>
	        <td><%= button_to 'Destroy', requestdeny_path(request), method: :delete, data: { confirm: 'Deny this request?' } %></td>
	      </tr>      
	      <%end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
<br>
<%= link_to 'New Administrator', new_administrator_path,class="btn" %>
